body {
    font-family: oranienbaum-regular;
}
img.hero {
    width: 5em;
}
.backround-nav{
    min-height: 50vh;
}
button {
    border-radius: 11px;
}


img.navimg{
    width: 3em

}

.big-oran-img {
    max-height: 20em;
    object-fit: cover;
    position: top;
    width: 100%;
    box-shadow:5px 5px 5px black;
}
