body {
    font-family: oranienbaum-regular;
}
img.hero {
    width: 5em;
    
}
.backround-nav{
    min-height: 50vh;
}
button {
    border-radius: 11px;
}


img.navimg{
    width: 3em

}

.big-oran-img {
    max-height: 32em;
    object-fit:cover;
    object-position: center ;
    /* position: top; */
    width: 100%;
    box-shadow:5px 5px 5px black;
}



.oran-car{
    width: 100%;

}

footer{
    background-image: url(https://i.pinimg.com/originals/de/3f/74/de3f74c3fd0e55e5d5c1fa034f17a3e3.jpg);
    background-position: center;
    background-size: contain;



}
